decorator==4.0.11
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.2
django-toolbelt==0.0.1
django-widget-tweaks==1.4.1
gunicorn==19.7.1
nltk==3.2.4
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
public==0.0.38
pytz==2017.2
self==0.0.14
setupfiles==0.0.50
six==1.10.0
slug==1.0
static3==0.7.0
