<p>Prezado usuário,</p>
<p><a href="http://sistemaremember.herokuapp.com{% url 'confirmar_nova_senha' reset.key %}">Clique aqui</a> para gerar uma nova senha</p>
<p>Ou copie e cole a url abaixo em seu navegador</p>
<p></p>
<p>http://sistemaremember.herokuapp.com{% url 'confirmar_nova_senha' reset.key %}</p>
<p></p>
<p>Caso não tenha solicitado essa alteração, desconsidere este e-mail e sua senha não será alterada.</p>
<p></p>
<p>Este é um e-mail automático disparado pelo sistema, não é necessário respondê-lo.</p>
<p></p>
<p></p>
<p>Atenciosamente,</p>
<p></p>
<p>Sistema Remenber</p>